<header class="py-5 bg-image-full">
    <div class="text-center m-5">
        <h3 class="text-center py-4">Seleziona i posti desiderati</h3>
        <div class="row my-3 justify-content-center">
            <div class="col-4">
                <label for="persone" class="form-label">Persone</label>
                <input type="number" class="form-control" id="persone" placeholder="Seleziona i posti" readonly value=0>
            </div>
        </div>
        <div class="row my-3 justify-content-center">
            <div class="col-2">
                {{#each posti}}
                    {{#if this.status }}
                        <div class="outer-seat div-inline" id={{this.id}} style="pointer-events: none; background-color: red;" aria-disabled="true">{{this.id}}</div>
                        <!--<br class="clearBoth" />-->
                    {{else}}
                        <div class="outer-seat div-inline" id={{this.id}} onclick="addOrRemovePersone(this.id)">{{this.id}}</div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <form method="post" action="" enctype="application/x-www-form-urlencoded">
            <div class="col-12 my-5">
                <div style="display: none;">
                    <input type="number" name="tratta" id="tratta" class="form-control" value={{tratta}}>
                    <input type="number" name="bus" id="bus" class="form-control" value={{bus}}>
                    <input type="text" name="posti" id="posti" class="form-control" value="postiScelti()">
                </div>
                <button class="btn btn-secondary" >Select</button>
            </div>
        </form>
    </div>
</header>